<h1>Temperature</h1>

<div id="temp_content">
	<section>
		<h2>
			Current temperature
		</h2>
		<div id="recent_temp">
			<%= @temperature.temp_c %>&deg;C at <%= @temperature.temp_c %>&deg;C
		</div>
	</section>
</div>